.nl-container {
    margin-top: 3rem;
    /* border: 2px solid red; */
    /* background: url('https://media.istockphoto.com/id/1314295672/vector/shining-round-bokeh-pink-background.jpg?s=612x612&w=0&k=20&c=BP7FAMzAJ_-GD7JA8z0N46OeI_iyjNh3SUs5vKIYa2k='); */
  }

  .nl-launches {
    display: flex;
    overflow-x: scroll;
    padding: 0 15px;
  }

  .nl-launches::-webkit-scrollbar {
    display: none;
  }

  .nl-product-container {
    text-align: center;
    margin-right: 40px;
  }

  .nl-product {
    height: 166px;
    width: 151px;
    border: 1px solid #E6EBF4;
    margin: 4px 0 0 0;
    padding: 24px 16px 24px 16px;
    border-radius: 10px;
  }

  .nl-product:hover {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  .nl-product img {
    width: 116px;
    height: 117px;
  }

  .nl-product h5 {
    margin-top: 10px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
  
  .nl-product p{
    margin-top: -7px;
    text-align: left;
  }
  .nl-mrp {
    color: #666;
  }

  .nl-actual-rate {
    font-size: 17px;
    font-weight: 600;
    color: #333;
    margin-top: -17px !important;
  }

  .nl-discount {
    color: #f00606;
  }