/* ------------------------------------common css---------------------------------------- */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
     text-decoration: none;
}

/* ======================================navbar Start ====================================*/
.topbar{
    color: #178a86;
}
.nav-item a {
    font-size: 14px;
    font-weight: 700;
    /* text-decoration: none; */
}

.nav-item a:hover{
     color: #178a86;
}

.nav-item i{
     color: #178a86;
}
.shipping{
    text-decoration: none;
}
.mobNo , .mail{
    color: black;
}
.superNav {
    font-size: 13px;
}

.form-control {
    outline: none !important;
    box-shadow: none !important;
}
.logo{
  width: 220px;
  height: 40px;
}

@media screen and (max-width:540px) {
    .centerOnMobile {
         text-align: center
    }
}
/* ==================================navbar End ========================================*/


/*------------------------------ upload prescription------------------------------ */
   .upload-prescription{
     /* border: 2px solid red; */
     padding: 20px 0;
     background: linear-gradient(#FFFFFF, #FFF0D2 , #E0F5FC , #FFFCF4);
   }       
.upload-precre {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 120px 5px 80px;
            /* border: 2px solid red; */
        }

        .upload-precre div {
            flex: 1;
        }

        .upload-precre div h4 {
            font-family: Inter, sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 28px;
            text-decoration: none solid rgb(48, 54, 60);
            word-spacing: 0px;
        }

        .upload-precre div p {
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            text-decoration: none solid rgb(48, 54, 60);
            word-spacing: 0px;
            text-align: end;
        }
        .upload-precre div p a{
          color: #178a86;
          font-weight: 700;
        }

        @media (max-width: 768px) {
            .upload-precre {
                flex-direction: column;
                align-items: stretch;
                padding: 10px;
            }

            .upload-precre div {
                margin-bottom: 10px;
            }

            .upload-precre div p {
                text-align: center;
            }

            .upload-precre div h4 {
                text-align: center;
            }
        }

        .form {
            /* border: 2px solid red; */
            width: 90%;
            position: relative;
            margin: auto;
        }

        .form .fa-search {

            position: absolute;
            top: 20px;
            left: 20px;
            color: #9ca3af;
            /* border: 2px solid red; */

        }

        .form span {

            position: absolute;
            right: 17px;
            top: 13px;
            padding: 2px;
            border-left: 1px solid #d1d5db;

        }

        .left-pan {
            padding-left: 7px;
        }

        .left-pan i {

            padding-left: 10px;
        }

        .form-input {
            height: 55px;
            text-indent: 33px;
            border-radius: 10px;
        }

        .form-input:focus {
            box-shadow: none;
            border: none;
        }

        .form-input::placeholder {
            color: gray;
            transition: ease-in-out all .4s;
        }

/*---------------------------------------  upload prescription end--------------------------------  */

/* -----------------------------------------Product list-------------------------------- */
.product {
     margin-top: 30px;
     /* border: 2px solid yellow; */
     padding: 0 59px;
     display: flex;
     justify-content: space-evenly;
     gap: 20px;
}

.product-list {
   /* border: .01px solid rgba(83, 79, 79, 0.232); */

   border-radius: 10px;
   cursor: pointer;
}

@media (min-width: 760px) { 
  .product{
     flex-wrap: nowrap;
     overflow: scroll;
      padding: 0px;
  }
  .product::-webkit-scrollbar{
    display: none;
  }
}
.product-list:hover{
   /* border: .2px solid rgba(83, 79, 79, 0.91); */
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-list img {
    width: 130px;
    /* border: 2px solid green; */
    margin-top: -20px;
}

.product-list h5 {
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
}

.product-list p {
    text-align: center;
    color:red;
}

@media (max-width: 760px) { 
    .product{
       flex-wrap: nowrap;
       overflow: scroll;
        padding: 0px;
    }

    .product::-webkit-scrollbar{
     display: none;
    }

    .product-list{
     margin-left: 20px;
    }
}

/* ==================================================================================================== */



/* <!--========================================== offer-slider-Start======================================== --> */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.vcd{
  background: linear-gradient(#FFFFFF, #FFF0D2 , #E0F5FC , #FFFCF4);
}
.offer-package {
  display: flex;
  padding: 0 35px;
  /* min-height: 100vh; */
  padding: 20px 0;
  align-items: center;
  justify-content: center;

  border: 0px solid white;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  position: relative;
  border: 0px solid white;
}

.wrapper i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #fff;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background:  #10847E;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 766896;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
  background: #f2f2f2;
}

.wrapper i:first-child {
  left: -22px;
  display: none;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  border-radius: 10px;
  /* padding: 0 20px 0 20px; */
  /* border: 2px solid red; */
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
  /* border: 2px solid red; */
}

.carousel img {
  height: 230px;
  border-radius: 10px;
  object-fit: fit;
  user-select: none;
  margin-left: 34px;
  width: calc(100% / 2);
  /* border: 2px solid red; */
}

.carousel img:first-child {
  margin-left: 0px;
}

.wrapper .carousel a {
  margin-left: 10px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}
/* <!--========================================== offer slider End======================================== --> */












.heading-mainn{
  font-size: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}

.heading-mainn:hover{
  -webkit-background-clip: text;
  /* three major properity */
  background-clip: text;
 background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2620.jpg?t=st=1709747239~exp=1709750839~hmac=376bfd090ccd522d6682ae399ad0301f15a594e7adc5987348de6d9b8091c204&w=900);
  background-position: center;
  color: transparent;
  cursor: pointer;
}














/* Lab-Tests-by-Health-Concern Start */
.Lab-Tests-by-Health-Concern{
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  padding: 0 0 10px 0;
  /* border: 2px solid red; */
}
.Lab-Tests-by-Health-Concern::-webkit-scrollbar{
  display: none;
}
.Lab-Tests-by-Health-Concern-img a{
  cursor: pointer;
}

.Lab-Tests-by-Health-Concern-img img{
  width: 180px;
  margin: 15px;
  border-radius: 8px;
}

.Lab-Tests-by-Health-Concern-img img:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* Lab-Tests-by-Health-Concern End */








/* <!-- -----------------------------------Upload Prescription Process Start ------------------> */
.uplo-pres {
  margin-top: 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}


.prescri-img {
  text-align: center;
}

.prescri-img img {
  width: 100px;
}

.uplo-pres .pp{
  /* border: 2px solid red; */
  margin-left: 60px;
}
.uplo-pres .pp h3 {
  margin-top: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  
}

.uplo-pres .pp p {
  margin-top: 5px;
  color: #333;
}

.uplo-pres .pp button {
  background-color: #10847e;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.uplo-pres .pp button i{
  color: white;
}
.uplo-pres .pp button:hover {
  background-color: #c82333;
}

.yy:last-child {
  border-left: 1px solid #e9ecef;
}

.njk{
  /* border: 2px solid red; */
  margin-top: -25px;
}
.uplo-pres-process {
  margin-top: 10px;
}

.uplo-pres .yy{
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 29px;
border-radius: 8px 0 0 8px;
background-color: #EEF4FF;
/* border-right: 1px solid rgb(82, 58, 58); */
}
.uplo-pres .zz i{
  font-size: 25px;
  color: #10847e;
  margin-right: 10px;
}

.zz p{
  font-family: Inter, sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 24px;
}
@media (max-width: 768px) {
.zz {
border-top: 2px solid rgba(77, 68, 68, 0.082);
}
}
/* <!-- -----------------------------------Upload Prescription Process Start ------------------> */








































/* ==============================  Seo  Section Start ======================================== */

a {
  text-decoration: none;
}

.seo {
  text-align: justify;
}

.seo .seoheading {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.918)
}

.seo a {
  color: gray;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none solid rgb(48, 54, 60);
  word-spacing: 0px;
}

.seo a:hover {
  color: #10847e;
  font-weight: 400;
}

.seo span {
  color: gray;
  margin: 0 3px;
}

.home-seo {
  text-align: justify;
}
.home-seo-detail {
background-color: #f8f9fa; /* Example: change background color for home-seo-detail */
padding: 20px;
}
.home-seo-detail h5 {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.home-seo-detail h6 {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 15px;
}

.home-seo-detail p {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none solid rgb(48, 54, 60);
  word-spacing: 0px;
}

/* ===========================Seo Section End============================================= */







/* ================================footer Start=================== */
.footer-gray {
  background-color:  #EEF4FF;
  /* width: 100%; */
  /* border: 2px solid red; */

}

.footer-custom {
  color: #888;
  font: normal normal 12px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /* max-width: 1008px; */
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px;}

.footer-custom:after {
  display: table;
  clear: both;
  content: "";
}

.footer-lists:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-hdr {
  color: #000;
  font: 22px/1.4 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
  margin: 1em 0 0;
}

@media only screen and (min-width: 768px) {
  .ftr-hdr {
    font-size: 18px;
  }
}

.footer-list-wrap {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

@media only screen and (min-width: 568px) {
  .footer-list-wrap {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 768px) {
  .footer-list-wrap {
    width: 25%;
  }
}

.ftr-links-sub {
  padding: 0;
  margin: 0;
}

.ftr-links-sub:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-links-sub li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 3px 0;
  color: #888;
  font: normal normal 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  /*width: 150px;*/
}

.footer-custom a,
.footer-custom a:link,
.footer-custom a:visited,
.ftr-links-sub li .link {
  text-decoration: none;
  color: #888;
  padding: 5px 0;
  display: block;
}

.footer-custom .footer-legal a {
  display: inline;
}

.footer-custom a:hover,
.footer-custom a:active,
.ftr-links-sub li .link:hover {
  color: #178a86;
  cursor: pointer;
  font-size:14px ;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .footer-custom a, .footer-custom a:link, .footer-custom a:visited, .ftr-links-sub li .link {
    padding: 0;
  }
}
/* BEGIN EMAIL CAPTURE STYLES*/

.footer-email {
  text-align: center;
}

#ftrEmailForm {
  height: 44px;
}

#ftrEmailForm .error {
  display: none;
  color: red;
  text-align: left;
}

#ftrEmailForm #ftrEmailInput {
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  color: #888;
  float: left;
  font: normal normal 14px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 5px;
  width: 70%;
  height: 100%;
}

#ftrEmailForm #ftrEmailInput:hover {
  border: 1px solid #888;
}

#ftrEmailForm #ftrEmailInput:focus {
  border: 1px solid #ef9223;
  outline: #ef9223 auto 5px;
}

#ftrEmailForm .button {
  width: 30%;
  height: 100%;
  padding: 5px;
  float: left;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  color: #000;
  font: normal bold 18px/1 BebasFamily, BebasNeueRegular, "Bebas Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #178a86;
  border-radius: 0 10px 10px 0;

  cursor: pointer;
  vertical-align: middle;
  outline: none;
}

#ftrEmailForm .button:hover,
#ftrEmailForm .button:active {
  background: black;
  color: #FFF;
  outline: none;
}
/* BEGIN SOCIAL STYLES*/

.footer-social {
  text-align: center;
 
}

.footer-social ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

.footer-social ul:after {
  display: table;
  clear: both;
  content: "";
}

.footer-social li {
  float: left;
  margin: 0 15px 0 0;
  padding: 0;
}
.footer-social li a img{
  border-radius:5px;
}

@media only screen and (min-width: 768px) {
  .footer-lists {
    width: 100%;
  }
  .footer-email {
    width: 50%;
    float: left;
    text-align: left;
  }
  .footer-social {
    width: 45%;
    margin-left: 5%;
    float: left;
    text-align: left;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-lists {
    width: 66.6666%;
    float: left;
  }
  .footer-email {
    width: 33.3333%;
  }
  .footer-social {
    width: 33.3333%;
    float: right;
    margin-left: 0;
  }
}

.footer-legal {
  padding: 15px 0 0;
  clear: left;
}

.footer-payment {
  text-align: center;
}
.footer-payment li a img{
     width: 40px;
}

@media only screen and (min-width: 768px) {
  .footer-legal {
    width: 66.6666%;
    float: left;
  }
  .footer-payment {
    width: 33.3333%;
    float: left;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-payment {
    text-align: left;
  }
}

.footer-payment ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

.footer-payment ul li {
  display: inline-block;
  margin: 0 6px;
}

@media only screen and (min-width: 1008px) {
  .footer-payment ul li.ftr-stella {
    margin-left: 0;
  }
}

/* ================================footer End=================== */

/* -----------------------------------------whatsapp link----------------------------------------- */
.hh{
  position: fixed;
  bottom: 10px;
  right: 25px;
}
.hh img{
   width: 50px;
   border-radius: 50%;
}