



.project-container {
    background: url("https://img.freepik.com/premium-vector/abstract-futuristic-wave-with-moving-dots-flow-particles-vector-cyber-technology-illustration_658411-1138.jpg?w=1060");
    border: .1px solid rgba(255, 255, 255, 0.149);
    background-size: 100% 100%;
}

.project a{
  /* display: none; */
}

.project h1 {
    color: white;
}

.project-item {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(10, 125, 125, 0.38);
    border: 1px solid rgb(252, 249, 249);
}

.main-ppjjtt img{
    height: 400px !important;
}

.project-item img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(252, 249, 249);
}
 .project-detail p{
     color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 
 .date{
    color: yellow;
    font-size: 19px;
 }

 .project-detail p:hover{
    -webkit-background-clip: text;
    /* three major properity */
    background-clip: text;
   background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2620.jpg?t=st=1709747239~exp=1709750839~hmac=376bfd090ccd522d6682ae399ad0301f15a594e7adc5987348de6d9b8091c204&w=900);
    background-position: center;
    color: transparent;
 }

 .date:hover{
    -webkit-background-clip: text;
    /* three major properity */
    background-clip: text;
   background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2620.jpg?t=st=1709747239~exp=1709750839~hmac=376bfd090ccd522d6682ae399ad0301f15a594e7adc5987348de6d9b8091c204&w=900);
    background-position: center;
    color: transparent;
 }
.use-skill {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.use-skill >a {
    display: inline-block;
    height: 28px;
    padding: 4px 8px;
    border: 1px solid #cccccca2;
    line-height: 18px;
    font-size: 12px;
    border-radius: 10px;
    margin-bottom: 5px;
    color:white;
    transition: transform 0.3s;
}

.use-skill a:hover {
    background-color: #0056b3; /* Hover background color */
}

